body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-layout {
  min-height: 100vh !important;
}
.ant-layout-sider {
  background: grey !important;
}

.ant-layout-sider-children,
.ant-menu-item-selected {
  background-color: #021529 !important;
}

.ant-layout-header {
  background: rgb(149 163 163) !important;
}

.ant-layout-content {
  height: 100vh !important;
  width: calc(100vw - 222px) !important;
  margin: 0px !important;
  padding: 0px !important;
  padding-left: 5px !important;
}

.site-layout .site-layout-background {
  background: #fff !important;
}

.flex-box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-element {
  background-color: #47a27c40;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-container {
  overflow-x: auto;
}
.table {
  width: 100%;
}

.table-container table,
.table-container th,
.table-container td {
  border: 1px solid black;
}

.table-container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d6e4fc;
  color: rgba(0, 0, 0, 0.85);
}
.table-container td:nth-child(even) {
  background-color: #f2f2f2;
}

.table-container td:hover {
  background-color: #ddd;
}

.ant-menu-item-active {
  background-color: #0000ff85 !important;
}

.ant-upload,
.ant-upload-drag {
  height: 350px !important;
  width: 500px !important;
}

.ant-page-header-content {
  padding-top: 0px !important;
}

.content-area-page {
  color: #fff !important;
}

th {
  background-color: #d6e4fc !important;
}

.ant-page-header {
  background-color: #f0f2f5 !important;
  padding: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 8px !important;
}
